doctype html
html(lang="ru-RU")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    link(rel="stylesheet" type='text/css' href="static/css/main.css")
    link(rel="stylesheet" type='text/css' href="static/css/fontawesome.css")
    script(src="static/js/bootstrap.min.js")
    script(src="static/js/fontawesome.all.min.js")
    script(src="static/js/libs.min.js")
    head
        title Новое
    body
        .container
            .row
                h1 Новое
            //Контейнер с песнями
            .music
                // Контейнер песни
                .song
                    div(class="image")
                        img(src="static/img/credo.png" alt="img")
                    div(class="title")
                        h2 Credo
                        h3 Ziviert
                    div(class="time-time")
                        h3(class="time") 1:45
                    div(class="star")
                        img(class="star-star star-img" id="star1" onclick="down('#star1', '#star2')"  src="static/img/star.png" alt="star")
                        img(class="star-star noActive"  id="star2" onclick="down('#star2', '#star1')" src="static/img/starActive.png" alt="star")

                    div(class="clear")
                    div.play-band
                        div.play-band-progress
                        div.play-band-fon
                .song
                    div(class="image")
                        img(src="static/img/dance_monkey.png" alt="img")
                    div(class="title")
                        h2 dance monkey
                        h3 tones and i
                    div(class="time-time")
                        h3(class="time") 3:29
                    div(class="star")
                        img(class="star-star star-img" id="star3" onclick="down('#star3', '#star4')"  src="static/img/star.png" alt="star")
                        img(class="star-star noActive"  id="star4" onclick="down('#star4', '#star3')" src="static/img/starActive.png" alt="star")

                    div(class="clear")
                    div.play-band
                        div.play-band-progress
                        div.play-band-fon
                .song
                    div(class="image")
                        img(src="static/img/against.png" alt="img")
                    div(class="title")
                        h2 Against the Tide
                        h3 Futurecop!, Nina
                    div(class="time-time")
                        h3(class="time") 3:11
                    div(class="star")
                        img(class="star-star star-img" id="star5" onclick="down('#star5', '#star6')"  src="static/img/star.png" alt="star")
                        img(class="star-star noActive"  id="star6" onclick="down('#star6', '#star5')" src="static/img/starActive.png" alt="star")

                    div(class="clear")
                    div.play-band
                        div.play-band-progress
                        div.play-band-fon
                .song
                    div(class="image")
                        img(src="static/img/kometa.png" alt="img")
                    div(class="title")
                        h2 kometa
                        h3 jony
                    div(class="time-time")
                        h3(class="time") 2:41
                    div(class="star")
                        img(class="star-star star-img" id="star7" onclick="down('#star7', '#star8')"  src="static/img/star.png" alt="star")
                        img(class="star-star noActive"  id="star8" onclick="down('#star8', '#star7')" src="static/img/starActive.png" alt="star")

                    div(class="clear")
                    div.play-band
                        div.play-band-progress
                        div.play-band-fon
                .song
                    div(class="image")
                        img(src="static/img/seniorita.png" alt="img")
                    div(class="title")
                        h2 Señorita
                        h3 Shawn Mendes, Camila Cabello
                    div(class="time-time")
                        h3(class="time") 3:11
                    div(class="star")
                        img(class="star-star star-img" id="star9" onclick="down('#star9', '#star10')"  src="static/img/star.png" alt="star")
                        img(class="star-star noActive"  id="star10" onclick="down('#star10', '#star9')" src="static/img/starActive.png" alt="star")

                    div(class="clear")
                    div.play-band
                        div.play-band-progress
                        div.play-band-fon





    script(src="static/js/main.js")









