doctype html
html(lang="ru-RU")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    link(rel="stylesheet" type='text/css' href="static/css/main.css")
    link(rel="stylesheet" type='text/css' href="static/css/fontawesome.css")
    script(src="static/js/bootstrap.min.js")
    script(src="static/js/fontawesome.all.min.js")
    script(src="static/js/libs.min.js")
    head
        title Новое
    body
        .container
            .row
                h1 Новое
            //Контейнер с песнями
            .music
                // Контейнер песни
                .song
                    .row
                        .col-2
                            img(src="static/img/credo.png" alt="img")
                        .col-7
                            h2 Credo
                            h3 Ziviert
                        .col-1
                            div(class="star")
                                img(class="star-star star-img" id="star1" onclick="down('#star1', '#star2')" src="static/img/star.png" alt="star")
                                img(class="star-star noActive"  id="star2" onclick="down('#star2', '#star1')" src="static/img/starActive.png" alt="star")

                        .col-1
                            h3(class="time") 1:45
                    div.play-band
                        div.play-band-progress
                        div.play-band-fon
                .song
                    .row
                        .col-2
                            img(src="static/img/credo.png" alt="img")
                        .col-7
                            h2 Credo
                            h3 Ziviert
                        .col-1
                            div(class="star")
                                img(class="star-star star-img" id="star3" onclick="down('#star3', '#star4')" src="static/img/star.png" alt="star")
                                img(class="star-star noActive"  id="star4" onclick="down('#star4', '#star3')" src="static/img/starActive.png" alt="star")

                        .col-1
                            h3(class="time") 1:45
                    div.play-band
                        div.play-band-progress
                        div.play-band-fon
                .song
                    .row
                        .col-2
                            img(src="static/img/credo.png" alt="img")
                        .col-7
                            h2 Credo
                            h3 Ziviert
                        .col-1
                            div(class="star")
                                img(class="star-star star-img" id="star1" onclick="down('#star1', '#star2')" src="static/img/star.png" alt="star")
                                img(class="star-star noActive"  id="star2" onclick="down('#star2', '#star1')" src="static/img/starActive.png" alt="star")

                        .col-1
                            h3(class="time") 1:45
                    div.play-band
                        div.play-band-progress
                        div.play-band-fon




    script(src="static/js/main.js")









