@import "fonts.styl"
@import "libs.styl"
fonts = BebasNeue-Bold
white = #ffff
grey = #aaaaaa
fontsStyle(color = white, font = fonts)
  font-family font
  color white


.container
  max-width 960px
  min-width 320px
  background: linear-gradient(to top, #3a3b57, #364a57)
  .row
    margin 0

  h1
    fontsStyle()
    //font-family fonts
    font-size 48pt
    //color white
    text-align center
    width 100%
    margin-bottom 68px
    margin-top 68px
  .music
    margin-left 30px
    margin-right 35px
    .title
      position relative
      top 10px
      margin-left 10px
      z-index 10

      h2
        margin-bottom 0
    .image
      position relative
      top 14px
      z-index 10
      img
        border-radius 10px
    .col-1

    .song
      text-transform uppercase
      margin-bottom 30px


    .super-star
      z-index 10

    h2
      fontsStyle()
      //font-family fonts
      //color white
      font-size 24pt
    h3
      font-family fonts
      color grey
      font-size 18pt
    #Star
      font-size 10pt
    .play-band
      position relative
      width 100%
      height 7px
      background-color #556270
      z-index 1
      .play-band-progress
        width 50%
        height inherit
        background-color #ff6c00
      .play-band-fon
        position absolute
        width 50%
        bottom 6px
        height 65px
        background linear-gradient(to top, rgba(255, 108, 0, 0.5), rgba(71, 74, 80, 0))
        z-index 1
    .star
      float right
      width 75px
      height 62px
      position relative
      top 6px
      img
        position absolute
      .star-img
        position absolute
        left 27px
        top 20px
      .star-star
        transform rotate(0deg)
        transition-duration 300ms
        cursor pointer
        &:hover
          transform rotate(360deg)
          transition-duration 300ms
  .time-time
    float right

  .time
    position relative
    top 22px
.music:last-child
  padding-bottom 91px

.active
  display block
.noActive
  display none
.image
  float left
.title
  float left
.clear
  clear both