@import "fonts.styl"
@import "libs.styl"
fonts = BebasNeue-Bold
white = #ffff
grey = #aaaaaa
fontsStyle(color = white, font = fonts)
  font-family font
  color white


.container
  background: linear-gradient(to top, #3a3b57, #364a57)
  h1
    fontsStyle()
    //font-family fonts
    font-size 48pt
    //color white
    text-align center
    width 100%
    margin-bottom 68px
    margin-top 68px
  .music
    margin-left 30px
    margin-right 35px
    .col-7
      z-index 10
    .song
      margin-bottom 30px
    .col-2
      z-index 10
    .time
      padding-top 30%
    h2
      fontsStyle()
      //font-family fonts
      //color white
      font-size 24pt
    h3
      font-family fonts
      color grey
      font-size 18pt
    #Star
      font-size 10pt
    .play-band
      position relative
      width 100%
      height 7px
      background-color #556270
      z-index 1
      .play-band-progress
        width 50%
        height inherit
        background-color #ff6c00
      .play-band-fon
        position absolute
        width 50%
        bottom 6px
        height 65px
        background linear-gradient(to top, rgba(255, 108, 0, 0.5), rgba(71, 74, 80, 0))
        z-index 1
    .star
      position relative
      img
        position absolute
      .star-img
        position absolute
        left 27px
        top 20px
      .star-star
        cursor pointer


.active
  display block
.noActive
  display none


